{% extends "base.html" %}
{% load static %}
{% block body %}
    <div class="container bg-white">
        <div class="col-md-12">
            <div class="parser_form vh-100 d-flex flex-column justify-content-center align-items-center text-center">
                <h1 style="display: block">User page is being parsed!</h1>
                <div class='progress-wrapper w-100'>
                    <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;
                    </div>
                </div>
                <div id="progress-bar-message">Waiting for progress to start...</div>
                <div id="celery-result">
                </div>

            </div>

        </div>

    </div>
    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
    <script>
        {% if task_id %}
            document.addEventListener("DOMContentLoaded", function () {
                var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
                CeleryProgressBar.initProgressBar(progressUrl);
            });
        {% endif %}
    </script>
{% endblock body %}
