<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/main.css">
</head>
<body>
<header class=" d-flex position-fixed w-100">
    <div class="container">
        <div class="row">
            <div class="container-custom">
                <nav class="navbar navbar_custom d-flex flex-row ">
                    <div class="navbar-logo d-flex">
                        <a href="#"><img class="logo" src="../../static/img/logo.png" alt="Logo"></a>
                        <button class="logo-button"><i class="arrow down"></i></button>
                    </div>


                    <div class="search-panel">
                        <form action=".">
                            <label for="search_field"></label>
                            <input type="text" id="search_field" name="search_field" placeholder="Search">
                        </form>
                    </div>
                    <div class="navbar-icons d-flex flex-row">
                        <div class="navbar-icon_button"><a href="#" class="navbar-icon_link">
                            <svg aria-label="Home" class="_ab6-" color="#262626" fill="#262626" height="24" role="img"
                                 viewBox="0 0 24 24" width="24">
                                <path d="M9.005 16.545a2.997 2.997 0 012.997-2.997h0A2.997 2.997 0 0115 16.545V22h7V11.543L12 2 2 11.543V22h7.005z"
                                      fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></path>
                            </svg>
                        </a></div>
                        <div class="navbar-icon_button"><a href="#" class="navbar-icon_link">
                            <svg aria-label="Messenger" class="_ab6-" color="#262626" fill="#262626" height="24"
                                 role="img" viewBox="0 0 24 24" width="24">
                                <path d="M12.003 2.001a9.705 9.705 0 110 19.4 10.876 10.876 0 01-2.895-.384.798.798 0 00-.533.04l-1.984.876a.801.801 0 01-1.123-.708l-.054-1.78a.806.806 0 00-.27-.569 9.49 9.49 0 01-3.14-7.175 9.65 9.65 0 0110-9.7z"
                                      fill="none" stroke="currentColor" stroke-miterlimit="10"
                                      stroke-width="1.739"></path>
                                <path d="M17.79 10.132a.659.659 0 00-.962-.873l-2.556 2.05a.63.63 0 01-.758.002L11.06 9.47a1.576 1.576 0 00-2.277.42l-2.567 3.98a.659.659 0 00.961.875l2.556-2.049a.63.63 0 01.759-.002l2.452 1.84a1.576 1.576 0 002.278-.42z"
                                      fill-rule="evenodd"></path>
                            </svg>
                        </a></div>
                        <div class="navbar-icon_button"><a href="#" class="navbar-icon_link">
                            <svg aria-label="New post" class="_ab6-" color="#262626" fill="#262626" height="24"
                                 role="img" viewBox="0 0 24 24" width="24">
                                <path d="M2 12v3.45c0 2.849.698 4.005 1.606 4.944.94.909 2.098 1.608 4.946 1.608h6.896c2.848 0 4.006-.7 4.946-1.608C21.302 19.455 22 18.3 22 15.45V8.552c0-2.849-.698-4.006-1.606-4.945C19.454 2.7 18.296 2 15.448 2H8.552c-2.848 0-4.006.699-4.946 1.607C2.698 4.547 2 5.703 2 8.552z"
                                      fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"></path>
                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2" x1="6.545" x2="17.455" y1="12.001" y2="12.001"></line>
                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2" x1="12.003" x2="12.003" y1="6.545" y2="17.455"></line>
                            </svg>
                        </a></div>
                        <div class="navbar-icon_button"><a href="#" class="navbar-icon_link">
                            <svg aria-label="Find People" class="_ab6-" color="#262626" fill="#262626" height="24"
                                 role="img" viewBox="0 0 24 24" width="24">
                                <polygon fill="none"
                                         points="13.941 13.953 7.581 16.424 10.06 10.056 16.42 7.585 13.941 13.953"
                                         stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                         stroke-width="2"></polygon>
                                <polygon fill-rule="evenodd"
                                         points="10.06 10.056 13.949 13.945 7.581 16.424 10.06 10.056"></polygon>
                                <circle cx="12.001" cy="12.005" fill="none" r="10.5" stroke="currentColor"
                                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>
                            </svg>
                        </a></div>
                        <div class="navbar-icon_button"><a href="#" class="navbar-icon_link">
                            <svg aria-label="Activity Feed" class="_ab6-" color="#262626" fill="#262626" height="24"
                                 role="img" viewBox="0 0 24 24" width="24">
                                <path d="M16.792 3.904A4.989 4.989 0 0121.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 014.708-5.218 4.21 4.21 0 013.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 013.679-1.938m0-2a6.04 6.04 0 00-4.797 2.127 6.052 6.052 0 00-4.787-2.127A6.985 6.985 0 00.5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 003.518 3.018 2 2 0 002.174 0 45.263 45.263 0 003.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 00-6.708-7.218z"></path>
                            </svg>
                        </a></div>
                        <div class="navbar-icon_button"><a href="#" class="navbar-icon_link">
                            <img src="../../static/img/default.jpg" alt="" class="profile-img-mini">
                        </a></div>
                    </div>
                </nav>
            </div>
        </div>
    </div>


    <!-- End of container -->
</header>
<section class="profile">
    <div class="container-custom">
        <div class="profile_info">
            <div class="profile_info-right">
                <div class="profile_info__img">
                    <button class="profile_info__img-button">
                        <img src="../../static/img/default.jpg" alt="avatar" class="profile_info__avatar">
                    </button>
                </div>
            </div>
            <div class="profile_info-left">
                <div class="profile_bio">
                    <div class="profile_settings">
                        <h1 class="profile_nick">shvhzxd</h1>
                        <div class="edit_profile">
                            <button class="edit_profile__button">Edit profile</button>
                            <button class="profile_settings__button">
                                <div class="profile_settings__button-icon">
                                    <svg aria-label="Options" class="_ab6-" color="#262626" fill="#262626" height="24"
                                         role="img" viewBox="0 0 24 24" width="24">
                                        <circle cx="12" cy="12" fill="none" r="8.635" stroke="currentColor"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2"></circle>
                                        <path d="M14.232 3.656a1.269 1.269 0 01-.796-.66L12.93 2h-1.86l-.505.996a1.269 1.269 0 01-.796.66m-.001 16.688a1.269 1.269 0 01.796.66l.505.996h1.862l.505-.996a1.269 1.269 0 01.796-.66M3.656 9.768a1.269 1.269 0 01-.66.796L2 11.07v1.862l.996.505a1.269 1.269 0 01.66.796m16.688-.001a1.269 1.269 0 01.66-.796L22 12.93v-1.86l-.996-.505a1.269 1.269 0 01-.66-.796M7.678 4.522a1.269 1.269 0 01-1.03.096l-1.06-.348L4.27 5.587l.348 1.062a1.269 1.269 0 01-.096 1.03m11.8 11.799a1.269 1.269 0 011.03-.096l1.06.348 1.318-1.317-.348-1.062a1.269 1.269 0 01.096-1.03m-14.956.001a1.269 1.269 0 01.096 1.03l-.348 1.06 1.317 1.318 1.062-.348a1.269 1.269 0 011.03.096m11.799-11.8a1.269 1.269 0 01-.096-1.03l.348-1.06-1.317-1.318-1.062.348a1.269 1.269 0 01-1.03-.096"
                                              fill="none" stroke="currentColor" stroke-linejoin="round"
                                              stroke-width="2"></path>
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </div>

                </div>
                <div class="profile_about">
                    <div class="followers">
                        <div class="follower_section">
                            <span class="follower-number">
                                4
                            </span>posts
                        </div>
                        <div class="follower_section">
                            <span class="follower-number">
                                35
                            </span> followers
                        </div>
                        <div class="follower_section">
                            <span class="follower-number">
                                35
                            </span> following
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="spacer_block">
    <div class="container-custom">
        <div class="post_related">
            <div class="post_related__block">
                <a href="#" class="post_related__link">
                    <svg aria-label="" class="_ab6-" color="#8e8e8e" fill="#8e8e8e" height="12" role="img"
                         viewBox="0 0 24 24" width="12">
                        <rect fill="none" height="18" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round" stroke-width="2" width="18" x="3" y="3"></rect>
                        <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" x1="9.015" x2="9.015" y1="3" y2="21"></line>
                        <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" x1="14.985" x2="14.985" y1="3" y2="21"></line>
                        <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" x1="21" x2="3" y1="9.015" y2="9.015"></line>
                        <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" x1="21" x2="3" y1="14.985" y2="14.985"></line>
                    </svg>
                    <span class="post_related__text">POSTS</span>
                </a>
            </div>
            <div class="post_related__block">
                <a href="#" class="post_related__link">
                    <svg aria-label="" class="_ab6-" color="#8e8e8e" fill="#8e8e8e" height="12" role="img"
                         viewBox="0 0 24 24" width="12">
                        <polygon fill="none" points="20 21 12 13.44 4 21 4 3 20 3 20 21" stroke="currentColor"
                                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polygon>
                    </svg>
                    <span class="post_related__text">SAVED</span>
                </a>
            </div>
            <div class="post_related__block">
                <a href="#" class="post_related__link">
                    <svg aria-label="" class="_ab6-" color="#8e8e8e" fill="#8e8e8e" height="12" role="img"
                         viewBox="0 0 24 24" width="12">
                        <path d="M10.201 3.797L12 1.997l1.799 1.8a1.59 1.59 0 001.124.465h5.259A1.818 1.818 0 0122 6.08v14.104a1.818 1.818 0 01-1.818 1.818H3.818A1.818 1.818 0 012 20.184V6.08a1.818 1.818 0 011.818-1.818h5.26a1.59 1.59 0 001.123-.465z"
                              fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2"></path>
                        <path d="M18.598 22.002V21.4a3.949 3.949 0 00-3.948-3.949H9.495A3.949 3.949 0 005.546 21.4v.603"
                              fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2"></path>
                        <circle cx="12.072" cy="11.075" fill="none" r="3.556" stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="2"></circle>
                    </svg>
                    <span class="post_related__text">TAGGED</span>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="user_posts">
    <div class="container-custom posts_wrapper">
        <div class="user_posts__wrap">
            <div class="user_posts__meta">
                <div class="user_posts__likes">
                    <div class="user_posts__qlike"></div>
                    <span>1</span>
                </div>
                <div class="user_posts__comment">
                    <div class="user_posts__qcomment"></div>
                    <span>22</span>
                </div>

            </div>
        </div>
        <div class="user_posts__wrap">
            <div class="user_posts__meta">
                <div class="user_posts__likes">
                    <div class="user_posts__qlike"></div>
                    <span>1</span>
                </div>
                <div class="user_posts__comment">
                    <div class="user_posts__qcomment"></div>
                    <span>22</span>
                </div>

            </div>
        </div>
        <div class="user_posts__wrap">
            <div class="user_posts__meta">
                <div class="user_posts__likes">
                    <div class="user_posts__qlike"></div>
                    <span>1</span>
                </div>
                <div class="user_posts__comment">
                    <div class="user_posts__qcomment"></div>
                    <span>22</span>
                </div>

            </div>
        </div>
        <div class="user_posts__wrap">
            <div class="user_posts__meta">
                <div class="user_posts__likes">
                    <div class="user_posts__qlike"></div>
                    <span>1</span>
                </div>
                <div class="user_posts__comment">
                    <div class="user_posts__qcomment"></div>
                    <span>22</span>
                </div>

            </div>
        </div>
        <div class="user_posts__wrap">
            <div class="user_posts__meta">
                <div class="user_posts__likes">
                    <div class="user_posts__qlike"></div>
                    <span>1</span>
                </div>
                <div class="user_posts__comment">
                    <div class="user_posts__qcomment"></div>
                    <span>22</span>
                </div>

            </div>
        </div>
        <div class="user_posts__wrap">
            <div class="user_posts__meta">
                <div class="user_posts__likes">
                    <div class="user_posts__qlike"></div>
                    <span>1</span>
                </div>
                <div class="user_posts__comment">
                    <div class="user_posts__qcomment"></div>
                    <span>22</span>
                </div>

            </div>
        </div>
        <div class="user_posts__wrap">
            <div class="user_posts__meta">
                <div class="user_posts__likes">
                    <div class="user_posts__qlike"></div>
                    <span>1</span>
                </div>
                <div class="user_posts__comment">
                    <div class="user_posts__qcomment"></div>
                    <span>22</span>
                </div>

            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>